                        <div class="mv_12 tb_6 actions__item-outer">
                            <div class="actions__item">
                                <div class="actions__item-inner">
                                    <div class="actions__item-title">{{ item['item-title'] }}</div>
                                    <div class="actions__item-subtitle">{{ item['item-text'] }}</div>
                                    <div class="actions__item-link-outer">
                                        <div class="actions__item-link"><span>View more</span>
                                            <i class="material-icons">arrow_forward</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions__item-image">
                                    <img src="../uploads/actions/actions-item-img-1.png" alt="{{ item['item-title'] }}">
                                </div>
                            </div>
                        </div>