<!DOCTYPE html>
<html>

{% set page_title = 'Boilerplate Gulp-Nunjucks-SCSS 1' %}
{% include "layout/_head.html" %}

<body>


{% import "components/menu/_menu-top.html" as menus %}
{% import "components/menu/_menu-footer.html" as menu_footer %}


<div id="my-page">

    {% include "layout/_header.html" %}


    <section class="section section-news">
        <div class="container">
            {% include "blocks/news/view/_news.html" %}
        </div>
    </section>
    


    {% include "layout/_footer.html" %}

</div>




{% include "layout/_scripts.html" %}


</body>
</html>