<!DOCTYPE html>
<html>

{% set page_title = 'Boilerplate Gulp-Nunjucks-SCSS 1' %}
{% include "layout/_head.html" %}

<body>


{% import "components/menu/_menu-top.html" as menus %}
{% import "components/menu/_menu-footer.html" as menu_footer %}


<div id="my-page">

    {% include "layout/_header.html" %}


    <section class="section section-news js-sticky">
        <div class="container">
            {% include "blocks/news/view/_news.html" %}
        </div>
    </section>
    

<section class="section section-features g-dark js-sticky">
    <div class="container-elastic collapse">
        <h2 class="h1 centered g-title"><span>Features</span></h2>
    </div>

    <div class="container">
        <div class="features row-flexbox middle">
            
            <div class="mv_0 tb_7 tb_offset_1 ds_8 ds_offset_2">

                <div class="phone">
                    <div class="phone-inner">
                        <div class="phone-top">
                            <span class="phone-dynamic"></span>
                            <span class="phone-camera"></span>
                        </div>
                        <div class="phone-middle" style=""></div>
                        <div class="phone-bottom">
                            <span class="phone-micro"></span>
                        </div>                      
                    </div>
            
                </div>
            
            </div>

            <div class="mv_24 mh_20 mh_offset_2  tb_14 tb_offset_0 ds_14 ds_offset_0">
                <div class="row">

                    <div class="mv_24 tb_18 tb_offset_6 ds_18 ds_offset_6">
                        <div class="item row-flexbox middle">
                            <div class="icon centered first">
                                <div class="hexagon">
                                    <svg class="icon-network"><use xlink:href="images/icons.svg#icon-network"></use></svg>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Multi-porpuse</h3>
                                <p><code>Lorem ipsum</code> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>

                    <div class="mv_24 tb_18 tb_offset_3 ds_18 ds_offset_3">
                        <div class="item row-flexbox middle">
                            <div class="icon centered">
                                <div class="hexagon">
                                    <svg class="icon-network"><use xlink:href="images/icons.svg#icon-smartphone-2"></use></svg>
                                </div>
                            </div>
                            <div class="content">
                                <h3><code>Ultra responsive</code></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>

                    <div class="mv_24 tb_18 tb_offset_6 ds_18 ds_offset_6">
                        <div class="item row-flexbox middle">
                            <div class="icon centered">
                                <div class="hexagon">
                                    <svg class="icon-network"><use xlink:href="images/icons.svg#icon-gift"></use></svg>
                                </div>
                            </div>
                            <div class="content">
                                <h3>Free updates</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>

                    <div class="mv_24 tb_18 tb_offset_3 ds_18 ds_offset_3">
                        <div class="item row-flexbox middle">
                            <div class="icon centered last">
                                <div class="hexagon">
                                    <svg class="icon-network"><use xlink:href="images/icons.svg#icon-megaphone-1"></use></svg>
                                </div>
                            </div>
                            <div class="content">
                                <h3>SEO Bomb</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>                  

                </div>
            </div>

        </div>
    </div>
</section>  


<section class="section section-text-vertical _g-dark">
    <div class="container ">
        <h2 class="h1 centered g-title"><span>Text vertical tests</span></h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="mv_12">
                <div class="text-vertical-outer">
                    <div class="text-vertical text-vertical-1">
                        <span>Текст</span> <span>вертикальный в блоке</span>
                    </div>
                </div>
            </div>

            <div class="mv_12">
                <div class="text-vertical-outer">
                    <div class="text-vertical text-vertical-2">
                        <span>Текст</span> <span>вертикальный в фиксе</span>
                    </div>
                </div>
            </div>

            <div class="mv_12">
                <div class="text-vertical-outer">
                    <div class="text-vertical text-vertical-3">
                        <span>Текст</span> <span>вертикальный в inline-block</span>
                    </div>
                    <div class="class" style="width: 200px; border: 2px solid #ccc">Еще блок</div>
                </div>
            </div>


            <div class="mv_12 mb-md">
                <div class="text-vertical-outer--fixed">
                    <span class="text-vertical">
                        Текст вертикальный Lorem Ipsum - это текст
                    </span>

                </div>
            </div>

            <div class="mv_12 mb-md">
                <div class="text-vertical-outer--fixed-column">
                    <span class="text-vertical">
                        Lorem Ipsum 
                    </span>
                   
                </div>
            </div>            


        </div>
    </div>

    </div>
</section> 



    {% include "layout/_footer.html" %}

</div>




{% include "layout/_scripts.html" %}


</body>
</html>