
        <div class="edges row-flex">

            {% for item in edges %}

                {% include "blocks/edges/view/_edges__item.html" %}

            {% endfor %}
        </div>
        

        <!--div class="edges row-flex">

            <div class="mv_12 tb_6 ds_3 edges__item-outer">
                <div class="edges__item">
                    <div class="edges__item-icon">
                        <i class="icon-truck"></i>
                    </div>
                    <div class="edges__item-title"><span>Бесплатная доставка</span></div>
                </div>
            </div>

            <div class="mv_12 tb_6 ds_3 edges__item-outer">
                <div class="edges__item">
                    <div class="edges__item-icon">
                        <i class="icon-headphones"></i>
                    </div>
                    <div class="edges__item-title"><span>Принимаем заказы круглосуточно</span></div>
                </div>
            </div>

            <div class="mv_12 tb_6 ds_3 edges__item-outer">
                <div class="edges__item">
                    <div class="edges__item-icon">
                        <i class="icon-coin-dollar"></i>
                    </div>
                    <div class="edges__item-title"><span>14-Day Money back <br>If you are unable</span></div>
                </div>
            </div>

            <div class="mv_12 tb_6 ds_3 edges__item-outer">
                <div class="edges__item">
                    <div class="edges__item-icon">
                        <i class="icon-gift"></i>
                    </div>
                    <div class="edges__item-title"><span>Loyality programm <br>for our clients</span></div>
                </div>
            </div>

        </div-->