<!--div class="actions__item-button">
    <a href="#" class="btn btn-more">Узнать подробнее</a>
</div>
<div class="actions__item-button">
    <a href="#" class="btn btn-order">Узнать подробнее</a>
</div>
<div class="actions__item-button">
    <a href="#" class="btn btn-readmore">Узнать подробнее</a>
</div>
<div class="actions__item-button">
    <a href="#" class="btn btn-submit">Узнать подробнее</a>
</div>
<div class="actions__item-button">
    <a href="#" class="btn btn-cta">Узнать подробнее</a>
</div-->