<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content='true' name='HandheldFriendly'>
    <meta content='width' name='MobileOptimized'>
    

    <meta name="theme-color" content="#EF6C00"> 
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#EF6C00"> 
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#EF6C00"> 
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
    <!-- Яндекс.Браузер -->
    <!-- Из-за этого тэга неправильно отображается в Chrome Mobile -->
    <!-- <meta name="viewport" content="ya-title=#EF6C00,ya-dock=fade">       -->

    <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/mw_kit.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/responsive.css"> -->


</head>