@import '../view/components/forms/_forms-elements';     //

/*
 * Here we styles specific forms
 * Здесь мы стилизуем конекретные формы (блоки)

 */


$field_text_icon_metric: 2em; // 40

.form-order {
    // padding-top: 2*$l_h_base;
    // @include v_rhytm('list', $l_h);

    // .form-field {
    //     @include v_rhytm('list-item', $l_h);
    //     // @include v_rhytm('item', $l_h);
    // }
    // .form-field--date {
    //     @include flex(space-between, center);
    // }
    // .button-send {
    //     margin-top: 2*$l_h;
    //     margin-left: auto;
    //     margin-right: auto;
    // }

}


.form-field {
    label {

        position: relative;
        display: block;        
        letter-spacing: $l_s_big;
        // border-bottom: 2px solid $accent;
        border-bottom: 2px solid transparentize($accent, 1-0.75);

        // icon
        &:before {
            @include pseudoelement_right_top(0, 100%);
            transform: translateY(-100%);
            width: $field_text_icon_metric;
            height: $field_text_icon_metric;
            @include font_size_pro('h5'); 
            // background-color: #ccc;
        }
        &.label--name {
            &:before {
                background: url('../images/user.png') 0 0 no-repeat;
                background-size: cover;
            }
        }
        &.label--phone {
            &:before {
                background: url('../images/phone.png') 0 0 no-repeat;
                background-size: cover;
            }
        }

        // border-bottom
        &:after {
            @include pseudoelement_left_top(0, 100%);
            width: 100%;
            height: 2px;
        }
       

        & > span:first-child {
            display: block;
            @include height_leveling('base');
        }

        .wpcf7-form-control-wrap {
            display: block;
            input {

            }
        }


        &:focus-within {
            border-bottom: 2px solid $accent;  
            // box-shadow: 0 0  0.5em 1em transparentize($accent, 1-0.1); 
        }
        &.label--name:focus-within:before {
            background-image: url('../images/user-hover.png');
        }
        &.label--phone:focus-within:before {
            background-image: url('../images/phone-hover.png');    
        }        
        &:focus-within:after {
            box-shadow: 0 0  1em 0.1em transparentize($accent, 1-0.5);       
        } 
    }


}


// .callback {
//     margin: 0 auto;
//     max-width: 900px;
//     padding: 1*$l_h_base 2.5em;
//     background-color: transparentize($black, 1-0.3);
//     color: $white;
//     @media (min-width: get_grid_bp('tb_')+px) {
//         padding: 1*$l_h_base 3em
//     }

//     .form-field {
//         // @include v_margin(2*$l_h, 0);
//         margin-top: 2*$l_h;
//     }

//     &__title {
//         @include font_size_pro('h4');
//         @include height_leveling('heading');
//         // font-weight: bold;
//         // letter-spacing: $l_s_big;
//         @include typo('title');
//         // text-transform: uppercase;
//     }
//     &__header {
//        text-align: center;
//     }
//     &__footer {
        
//     }    
//     &__footer {
        
//     }
//     &__assign {
//         @include flex(flex-start, center);
//         @include font_size_pro('smaller');
//         margin: 1em auto 0;
//         max-width: 300px;
//         label {
//             font-size: 85%;
//             @include height_leveling('text');
//         }
//     }    
// }