                                <div class="mv_12 reviews__item-outer">
                                    <div class="reviews__item">
                                        <div class="reviews__item-inner">
                                            
                                            <div class="reviews__item-title">
                                                <i class="material-icons">message</i>
                                                {{ item['item-title'] }}
                                            </div>
                                            <div class="reviews__item-text">{{ item['item-text'] }}</div>
                                            <div class="reviews__item-name">{{ item['item-name'] }}</div>
    
                                        </div>
                                    </div>
                                </div>