                        <div class="mv_12 tb_6 hd_4 categories__item-outer">
                            <div class="categories__item" style="background-image:  url(../uploads/categories/{{ item['item-image'] }})">
                                <div class="categories__item-inner">
                                    <div class="categories__item-title" data-title="{{ item['item-title'] }}"><a href="#">{{ item['item-title'] }}</a></div>
                                    <div class="categories__item-text">{{ item['item-subtitle'] }}</div>
                                    <div class="categories__item-link-outer">
                                        <a href="#" class="categories__item-link">View all <i class="material-icons">arrow_forward</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>