
                            <div class="products row"  data-items-number="{{ items_number }}">
                                
                                {% for item in products %}
                                {%  if loop.index0 < items_number %}

                                    {% include "blocks/products/view/_product--mini.html" %}

                                {% endif %}
                                {% endfor %}

                            </div>                        
