// UI Components

// @import '../view/components/buttons/buttons';   
// @import '../view/components/social-links/social-links';     //
// @import '../view/components/accordeon/accordeon';     //
// @import '../view/components/rating/rating';     //
// @import '../view/components/pagination/pagination';     //
// @import '../view/components/forms/forms';     //
// @import '../view/components/search/search';     //
// @import '../view/components/tools/tools';     //
// @import '../view/components/tabs/tabs';     //
// @import '../view/components/menu/menu-main';     //
// @import '../view/components/menu/menu-top';     //
// @import '../view/components/menu/menu-footer';     //

// -- @import 'components/newsletter';     //
// -- @import 'components/subscribe';     //




// Blocks

// @import '../view/blocks/slider-main/styles/slider-main';     //
// @import '../view/blocks/news/styles/news';     //
// @import '../view/blocks/actions/styles/actions';     //
// @import '../view/blocks/categories/styles/categories';     //
// @import '../view/blocks/edges/styles/edges';     //
// @import '../view/blocks/brands/styles/brands';     //
// @import '../view/blocks/reviews/styles/reviews';     //

// @import 'blocks/users';     //
// @import 'blocks/menu-main';     //

// @import 'menu-mobile';     //
// @import 'blocks/slider';     //
// @import 'blocks/products';     //
// @import 'blocks/contacts';     //
