@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. General Vars, Mixins, Extends
 *  1. Header
 *  2. Menu main
 *  3. Slider
 *  4. 

 *  14.
 *
 */

@import 'mwgrid';       // layout framework
@import 'fonts';        // fonts add
@import 'svgfontstyle'; // for generate web fonts from svg
@import 'libs';         // external libs
@import 'base';         // base, mixin, extends, etc..
@import 'media'; //

// @import 'plugins/plugins'; // external plugins custom styles

// @import 'components';   // moved to -> _base


/* 0. General Vars, Mixins, Extends
 *
 *
*/
.collapse{
    
    padding-left: 0; padding-right: 0;
    &>.row{
        margin-left: 0; margin-right: 0;    
        &>[class*="mv"]{
            padding-left: 0; padding-right: 0;
        }
    }
}

[class*=row].collapse{

    margin-left: 0; margin-right: 0;    
    &>[class*="mv"]{
        padding-left: 0; padding-right: 0;
    }
}



/* 1. Header
 * **********************************************************************
 *  
*/

.header{

}
.header-top{

}
.logo{

    img{
        width: auto; max-width: 100%; height: auto;
    }
}


@media (max-width: 768px) {
   
    
} /* media end */



/* 2. Menu main
 * **********************************************************************
 *
*/  

.menu-main-outer{
}
.menu-control{
    display: none;
}
.menu-main{
}
    .menu-main li{
        display: inline-block;
        
        &:last-child{
            margin-right: 0;
        }
        a{
            display: block;

            &:hover{

            }
        }
    }


/* 3. Slider
 * **********************************************************************
 *
*/  

.slider-outer,
.section-slider{

    .slider{
        width: 100%; 
        height: 100vh;
    }
}

.section-news {

    // Что мы хотим видеть:
    //     есть много картинок
    //     image-320.jpg
    //     image-768.jpg
    //     image-1024.jpg
    //     image.jpg
    //     
    //     

    // @include set_bg_adaptive_pro('../images/section-webinars-bg', (320, 768, 1024), 'jpg');

    // @include set_bg_adaptive_pro_2('../images/section-webinars-bg', ( 768, 1200, 1440), 'jpg');

    @include set_bg_adaptive('../images/section-webinars-bg', ( 768, 1200, 1440), 'jpg', #ccc, center center, repeat-x );

    // @include set_bg_adaptive('../images/section-webinars-bg', 1200, 'jpg');



    @include flex(center, center, column, wrap);

}