<div class="overlay" id="overlay">
    <div class="overlay__container container">

        <div class="modal modal--callback js-modal" id="modal-callback">
            <div class="modal-close js-modal-close">
                <i class="ukr-close"></i>
            </div>    

            <div class="modal-inner">

                <div class="modal__title">
                    <h2 class="title">Заказ обратного звонка</h2>
                </div>                 

                <div class="modal__content">
                    <form action="#" class="form form--callback">                        
                    
                        <div class="row">
                            <div class="mv_24 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="mv_24 field-outer">
                                <input name="your-phone" class="field--text" placeholder="Ваш телефон" type="phone">
                            </div>
                            <div class="mv_24 field-outer">
                                <a href="#" class="btn btn-submit-alt">Отправить заявку</a>
                            </div>
                        </div>
                    
                    </form>
                </div>

            </div>
        </div>


        <div class="modal modal--request js-modal" id="modal-request">
            <div class="modal-close js-modal-close">
                <i class="ukr-close"></i>
            </div>    

            <div class="modal-inner">

                <div class="modal__title">
                    <h2 class="title">Заказ консультации</h2>
                </div>                 

                <div class="modal__content">
                    <form action="#" class="form form--request">                        
                    
                        <div class="row">
                            <div class="mv_24 field-outer">
                                <input name="your-name" class="field--text" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="mv_24 field-outer">
                                <input name="your-phone" class="field--text" placeholder="Ваш телефон" type="phone">
                            </div>
                            <div class="mv_24 field-outer">
                                <a href="#" class="btn btn-submit-alt">Отправить заявку</a>
                            </div>
                        </div>
                    
                    </form>
                </div>

            </div>
        </div>        
        
    </div>
</div>