
{% macro social_links(block_class='', value='') %}
<ul class="social-links {{ block_class }}">
    <li><a href="#" class="vk">
        <i class="fab fa-vk"></i></a>
    </li>                        
    <li><a href="#" class="fb">
        <i class="fab fa-facebook-f"></i></a>
    </li>
    <li><a href="#" class="tw">
        <i class="fab fa-twitter"></i></a>
    </li>
    <li><a href="#" class="tw">
        <i class="fab fa-google-plus"></i></a>
    </li>                        
</ul>
{% endmacro %}
